<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.helloworld"
        version   = "1.0.0">
 
<icon src="icon.png" platform="android" width="180" height="180" />
<splash src="splash.png" platform="android" />

<platform name="android">
        <feature name="SplashScreen">
                <splash src="splash.png" platform="android" width="320" height="480" />
                <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen"/>
                <param name="onload" value="true"/>
        </feature>
</platform>

<access origin="*" />         


 <name>DogTest</name>

  <description>
      Dog test app
  </description>

  <author >
     Nata Test
  </author>
</widget>
