<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "DogMeet"
        version     = "1.0.0" >

    <name>Dog Meet<name>
    <description>Dog Meet application
</description>
    <author href="https://github.com/talliya/DogMeet001/blob/master/README.md" email="test@gmail.com">
		Jakub Piekarczyk<br/>
    Nataliia Kondratieva
	</author>
	<platform name="android" />
	
	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
